---
#layout: default.hbs #by default it is default.hbs, but you can specify another one
title: Home #title in menu
position: 1 #position in menu
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
externalLink: false #just add link (http://link.com) instead of "false" to use this page like a link to external page.
---

<div class="top-content">
    {{>slider}}
</div>
<h2 style="text-align:center; color:#288FB4">SC+bigIconTextButton</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+bigIconTextButton'
                button = true
                pagination=true
                loop=true
                effect='slide'
                slidesPerView = 5
                speed=1000
                autoplay=3000
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+bigIconTextButton fade effect</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+bigIconTextButton1'
                button = true
                pagination=true
                loop=false
                effect='fade'
                slidesPerView = 1
                oneCenteredSlide = true
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+quote flip effect</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+quote'
                button = true
                pagination=true
                loop=false
                effect='flip'
                slidesPerView = 1
                oneCenteredSlide = true
        }}
    </div>
</div>
<h2 style="text-align:center; color:#288FB4">SC+imageTextLink</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageTextLink'
                button = true
                pagination=true
                loop=true
                effect='fade'
                slidesPerView = 1
        }}
    </div>
</div>
<h2 style="text-align:center; color:#288FB4">SC+iconTextLink</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+iconTextLink'
                button = true
                pagination=true
                loop=false
                effect='cube'
                slidesPerView = 1
                oneCenteredSlide = true
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+imageTextCenter</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageTextCenter'
                button = true
                pagination=true
                loop=false
                effect='coverflow'
                slidesPerView = 1
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+imageTextLeft</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageTextLeft'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 1
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+imageTextRight</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageTextRight'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 1

        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+textImageCenter</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+textImageCenter'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 1
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+textImageRight</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+textImageRight'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 2
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+textImageLeft</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+textImageLeft'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 2
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+inTextLeft</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+inTextLeft'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 2
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+inTextRight (nowrap)</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+inTextRight'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 2
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+inTextLeft (nowrap)</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+inTextLeft(nowrap)'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 2
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+imageGalery</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageGalery'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 1
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+images</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+images'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 3
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+images1</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+images1'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 3
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+logo</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+logo'
                button = true
                pagination=true
                loop=true
                effect='slide'
                slidesPerView = 5
                autoplay=5000
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+Mix1</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer'
                button = true
                pagination=true
                autoplay = 6000
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+Mix2</h2>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer'
                button = false
                pagination=fasle
                loop=false
                effect='slide'
                slidesPerView = 5

        }}
    </div>
</div>
