---
#layout: default.hbs #by default it is default.hbs, but you can specify another one
title: Home #title in menu
position: 1 #position in menu
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
externalLink: false #just add link (http://link.com) instead of "false" to use this page like a link to external page.
---

<div class="top-content">
    {{>slider}}
</div>
<h3 style="text-align:center; color:#288FB4">SC+bigIconTextButton</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination, loop; slidesPreView:5, speed:1000, autoplay:3000</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+bigIconTextButton'
                button = true
                pagination=true
                loop=true
                slidesPerView = 5
                speed=1000
                autoplay=3000
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+quote</h3>
<h4 style="text-align:center; color:#288FB4">button, loop; slidesPreView:3</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+quote'
                button = true
                pagination=false
                loop=true
                slidesPerView = 3
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+iconTextLink</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:4</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+iconTextLink'
                button = true
                pagination=true
                slidesPerView = 4
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+imageTextLink</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination, loop; slidesPreView:3, speed:300</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageTextLink'
                button = true
                pagination=true
                loop=true
                slidesPerView = 3
                speed=300
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+effect:"fade"</h3>
<h4 style="text-align:center; color:#288FB4">paggination, oneCeneterdSlide; slidesPreView:1, speed:1500, effect:"fade"</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+bigIconTextButton1'
                button = false
                pagination=true
                loop=false
                effect='fade'
                slidesPerView = 1
                speed=1500
                oneCenteredSlide = true
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+effect:"flip"</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination, loop, oneCeneterdSlide; slidesPreView:1, autoplay:3000, effect:"flip"</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+quote1'
                button = true
                pagination=true
                loop=true
                effect='flip'
                slidesPerView = 1
                oneCenteredSlide = true
                autoplay=3000
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+effect:"cube"</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination, oneCeneterdSlide; slidesPreView:1, effect:"cube"</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+iconTextLink1'
                button = true
                pagination=true
                effect='cube'
                slidesPerView = 1
                oneCenteredSlide = true
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+effect:"coverflow"</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination, oneCeneterdSlide; slidesPreView:1, effect:"coverflow"</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageTextCenter'
                button = true
                pagination=true
                loop=false
                effect='coverflow'
                slidesPerView = 1
                oneCenteredSlide = true
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+images</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:3</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+images'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 3
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+images1</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination, loop; slidesPreView:4</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+images1'
                button = true
                pagination=true
                loop=true
                slidesPerView = 4
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+logo</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination, loop; slidesPreView:5, autoplay:3000</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+logo'
                button = true
                pagination=true
                loop=true
                slidesPerView = 5
                autoplay=3000
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+imageTextLeft</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:2</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageTextLeft'
                button = true
                pagination=true
                loop=false
                slidesPerView = 2
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+imageTextRight</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:1</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageTextRight'
                button = true
                pagination=true
                loop=false
                slidesPerView = 1

        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+textImageCenter</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:1</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+textImageCenter'
                button = true
                pagination=true
                loop=false
                slidesPerView = 1
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+textImageRight</h2>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:2</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+textImageRight'
                button = true
                pagination=true
                loop=false
                slidesPerView = 2
        }}
    </div>
</div>

<h2 style="text-align:center; color:#288FB4">SC+textImageLeft</h2>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:2</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+textImageLeft'
                button = true
                pagination=true
                loop=false
                slidesPerView = 2
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+inTextLeft</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:2</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+inTextLeft'
                button = true
                pagination=true
                loop=false
                slidesPerView = 2
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+inTextRight (nowrap)</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:2</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+inTextRight'
                button = true
                pagination=true
                loop=false
                slidesPerView = 2
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+inTextLeft (nowrap)</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:2</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+inTextLeft(nowrap)'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 2
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+imageGalery</h3>
<h4 style="text-align:center; color:#288FB4">button, paggination; slidesPreView:2</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer+imageGalery'
                button = true
                pagination=true
                loop=false
                effect='slide'
                slidesPerView = 1
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+Mix1</h3>
<h4 style="text-align:center; color:#288FB4">button, pagination, autoplay:6000</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer'
                button = true
                pagination=true
                autoplay = 6000
        }}
    </div>
</div>

<h3 style="text-align:center; color:#288FB4">SC+Mix2</h3>
<h4 style="text-align:center; color:#288FB4">slidesPerView:5</h4>
<div class="container">
    <div class="row">
        {{ renderContent 'swiperContainer'
                button = false
                pagination=fasle
                loop=false
                slidesPerView = 5

        }}
    </div>
</div>
