<div class="slider-container slider-container-{{#if this.effect}}effect{{else}}default{{/if}}">
    <div class="swiper-container slider-container__container js__slider-container__container" data-autoplay="{{#if this.autoplay}}{{this.autoplay}}{{else}}{{/if}}" data-loop="{{#if this.loop}}{{this.loop}}{{else}}{{/if}}" data-effect="{{#if this.effect}}{{this.effect}}{{else}}slider{{/if}}" data-slidesperview="{{#if this.slidesPerView}}{{this.slidesPerView}}{{else}}3{{/if}}" data-speed="{{#if this.speed}}{{this.speed}}{{else}}600{{/if}}">
        <div class="swiper-wrapper slider-container__wrapper js__slider-container__wrapper">
            <div id="c35">
            <h2>Nam iaculis nisi quis posuere gravida - Above, center</h2>
            <div class="ce-textpic ce-center ce-above">
            <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
              <div class="ce-outer">
                <div class="ce-inner">
                  <div class="ce-row">
                    <div class="ce-column">
                      <figure>
                        <a href="" target="thePicture">
                          <img title="Pellentesque tristique" alt="img" src="images/foto1.jpg" width="600" height="400">
                        </a>
                        <figcaption>
                          Pellentesque tristique erat ac metus tristique efficitur
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ce-bodytext">
              <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
                Nam vitae justo velit. Donec sollicitudin dapibus est a mattis.
              </p>
            </div>
            </div>
            </div>
            <div id="c35">
            <h2>Nam iaculis nisi quis posuere gravida - Above, center</h2>
            <div class="ce-textpic ce-center ce-above">
            <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
              <div class="ce-outer">
                <div class="ce-inner">
                  <div class="ce-row">
                    <div class="ce-column">
                      <figure>
                        <a href="" target="thePicture">
                          <img title="Pellentesque tristique" alt="img" src="images/foto1.jpg" width="600" height="400">
                        </a>
                        <figcaption>
                          Pellentesque tristique erat ac metus tristique efficitur
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ce-bodytext">
              <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
                Nam vitae justo velit. Donec sollicitudin dapibus est a mattis.
              </p>
            </div>
            </div>
            </div>
            <div id="c35">
            <h2>Nam iaculis nisi quis posuere gravida - Above, center</h2>
            <div class="ce-textpic ce-center ce-above">
            <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
              <div class="ce-outer">
                <div class="ce-inner">
                  <div class="ce-row">
                    <div class="ce-column">
                      <figure>
                        <a href="" target="thePicture">
                          <img title="Pellentesque tristique" alt="img" src="images/foto1.jpg" width="600" height="400">
                        </a>
                        <figcaption>
                          Pellentesque tristique erat ac metus tristique efficitur
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ce-bodytext">
              <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
                Nam vitae justo velit. Donec sollicitudin dapibus est a mattis.
              </p>
            </div>
            </div>
            </div>
            <div id="c35">
            <h2>Nam iaculis nisi quis posuere gravida - Above, center</h2>
            <div class="ce-textpic ce-center ce-above">
            <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
              <div class="ce-outer">
                <div class="ce-inner">
                  <div class="ce-row">
                    <div class="ce-column">
                      <figure>
                        <a href="" target="thePicture">
                          <img title="Pellentesque tristique" alt="img" src="images/foto1.jpg" width="600" height="400">
                        </a>
                        <figcaption>
                          Pellentesque tristique erat ac metus tristique efficitur
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ce-bodytext">
              <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
                Nam vitae justo velit. Donec sollicitudin dapibus est a mattis.
              </p>
            </div>
            </div>
            </div>
            <div id="c35">
            <h2>Nam iaculis nisi quis posuere gravida - Above, center</h2>
            <div class="ce-textpic ce-center ce-above">
            <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
              <div class="ce-outer">
                <div class="ce-inner">
                  <div class="ce-row">
                    <div class="ce-column">
                      <figure>
                        <a href="" target="thePicture">
                          <img title="Pellentesque tristique" alt="img" src="images/foto1.jpg" width="600" height="400">
                        </a>
                        <figcaption>
                          Pellentesque tristique erat ac metus tristique efficitur
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ce-bodytext">
              <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
                Nam vitae justo velit. Donec sollicitudin dapibus est a mattis.
              </p>
            </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    {{#if this.pagination}}
        <div class=" swiper-pagination slider-container__pagination js__slider-container__pagination"></div>
    {{/if}}
    <!-- Navigation -->
    {{#if this.button}}
        <div class="swiper-button-next slider-container__button-next js__slider-container__btn-next"></div>
        <div class=" swiper-button-prev slider-container__button-prev js__slider-container__btn-prev"></div>
    {{/if}}
</div>
