<div class="slider-container slider-container-{{#if this.effect}}effect{{else}}default{{/if}}">
    <div class="swiper-container slider-container__container js__slider-container__container" data-autoplay="{{#if this.autoplay}}{{this.autoplay}}{{else}}{{/if}}" data-loop="{{#if this.loop}}{{this.loop}}{{else}}{{/if}}" data-effect="{{#if this.effect}}{{this.effect}}{{else}}slider{{/if}}" data-slidesperview="{{#if this.slidesPerView}}{{this.slidesPerView}}{{else}}3{{/if}}" data-speed="{{#if this.speed}}{{this.speed}}{{else}}600{{/if}}">
        <div class="swiper-wrapper slider-container__wrapper js__slider-container__wrapper">
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink=false
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
            }}
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink=false
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
            }}
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink=false
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
            }}
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink=false
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
            }}
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink=false
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
            }}
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink=false
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
            }}
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink=false
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
            }}
        </div>
    </div>
    <!-- Add Pagination -->
    {{#if this.pagination}}
        <div class=" swiper-pagination slider-container__pagination js__slider-container__pagination"></div>
    {{/if}}
    <!-- Navigation -->
    {{#if this.button}}
        <div class="swiper-button-next slider-container__button-next js__slider-container__btn-next"></div>
        <div class=" swiper-button-prev slider-container__button-prev js__slider-container__btn-prev"></div>
    {{/if}}
</div>
