<div class="swiperContainer {{#if this.oneCenteredSlide}}oneCenteredSlide{{/if}}">
    <div class="swiper-container swiper-container__container js__swiper-container__container" data-autoplay="{{#if this.autoplay}}{{this.autoplay}}{{else}}{{/if}}" data-loop="{{#if this.loop}}{{this.loop}}{{else}}{{/if}}" data-effect="{{#if this.effect}}{{this.effect}}{{else}}slider{{/if}}" data-slidesPerView="{{#if this.slidesPerView}}{{this.slidesPerView}}{{else}}3{{/if}}" data-speed="{{#if this.speed}}{{this.speed}}{{else}}600{{/if}}">
        <div class="swiper-wrapper swiper-container__wrapper js__swiper-container__wrapper {{#if this.logoSlider}}logoSlider{{/if}}">
            <div id="c33">
                <div class="ce-textpic ce-left ce-intext">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/temp-carousel-1.jpg" width="" height="">
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div id="c33">
                <div class="ce-textpic ce-left ce-intext">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/temp-carousel-2.jpg" width="" height="">
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div id="c33">
                <div class="ce-textpic ce-left ce-intext">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/temp-carousel-3.jpg" width="" height="">
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div id="c33">
                <div class="ce-textpic ce-left ce-intext">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/temp-carousel-1.jpg" width="" height="">
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Add Pagination -->
    {{#if this.pagination}}
        <div class=" swiper-pagination swiper-container__pagination js__swiper-container__pagination"></div>
    {{/if}}
    <!-- Navigation -->
    {{#if this.button}}
        <div class="swiper-button-next swiper-container__button-next js__swiper-container__btn-next"></div>
        <div class=" swiper-button-prev swiper-container__button-prev js__swiper-container__btn-prev"></div>
    {{/if}}
</div>
