<div class="swiperContainer {{#if this.oneCenteredSlide}}oneCenteredSlide{{/if}}">
    <div class="swiper-container swiper-container__container js__swiper-container__container" data-autoplay="{{#if this.autoplay}}{{this.autoplay}}{{else}}{{/if}}" data-loop="{{#if this.loop}}{{this.loop}}{{else}}{{/if}}" data-effect="{{#if this.effect}}{{this.effect}}{{else}}slider{{/if}}" data-slidesPerView="{{#if this.slidesPerView}}{{this.slidesPerView}}{{else}}3{{/if}}">
        <div class="swiper-wrapper swiper-container__wrapper js__swiper-container__wrapper">
            <div id="c36">
                <h2>Nam iaculis nisi quis posuere gravida - Above, right</h2>
                <div class="ce-textpic ce-right ce-above">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
                            </a>
                            <figcaption>
                              Pellentesque tristique erat ac metus tristique efficitur
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="ce-bodytext">
                      <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                        nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci.
                      </p>
                    </div>
                </div>
            </div>
            <div id="c36">
                <h2>Nam iaculis nisi quis posuere gravida - Above, right</h2>
                <div class="ce-textpic ce-right ce-above">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
                            </a>
                            <figcaption>
                              Pellentesque tristique erat ac metus tristique efficitur
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="ce-bodytext">
                      <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                        nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci.
                      </p>
                    </div>
                </div>
            </div>
            <div id="c36">
                <h2>Nam iaculis nisi quis posuere gravida - Above, right</h2>
                <div class="ce-textpic ce-right ce-above">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
                            </a>
                            <figcaption>
                              Pellentesque tristique erat ac metus tristique efficitur
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="ce-bodytext">
                      <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                        nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci.
                      </p>
                    </div>
                </div>
            </div>
            <div id="c36">
                <h2>Nam iaculis nisi quis posuere gravida - Above, right</h2>
                <div class="ce-textpic ce-right ce-above">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
                            </a>
                            <figcaption>
                              Pellentesque tristique erat ac metus tristique efficitur
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="ce-bodytext">
                      <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                        nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci.
                      </p>
                    </div>
                </div>
            </div>
            <div id="c36">
                <h2>Nam iaculis nisi quis posuere gravida - Above, right</h2>
                <div class="ce-textpic ce-right ce-above">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
                            </a>
                            <figcaption>
                              Pellentesque tristique erat ac metus tristique efficitur
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="ce-bodytext">
                      <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                        nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci.
                      </p>
                    </div>
                </div>
            </div>
            <div id="c36">
                <h2>Nam iaculis nisi quis posuere gravida - Above, right</h2>
                <div class="ce-textpic ce-right ce-above">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
                            </a>
                            <figcaption>
                              Pellentesque tristique erat ac metus tristique efficitur
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="ce-bodytext">
                      <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                        nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci.
                      </p>
                    </div>
                </div>
            </div>
            <div id="c36">
                <h2>Nam iaculis nisi quis posuere gravida - Above, right</h2>
                <div class="ce-textpic ce-right ce-above">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
                            </a>
                            <figcaption>
                              Pellentesque tristique erat ac metus tristique efficitur
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="ce-bodytext">
                      <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                        nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci.
                      </p>
                    </div>
                </div>
            </div>
            <div id="c36">
                <h2>Nam iaculis nisi quis posuere gravida - Above, right</h2>
                <div class="ce-textpic ce-right ce-above">
                    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                      <div class="ce-row">
                        <div class="ce-column">
                          <figure>
                            <a href="http://www.mff.se" target="_blank">
                              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
                            </a>
                            <figcaption>
                              Pellentesque tristique erat ac metus tristique efficitur
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="ce-bodytext">
                      <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
                        nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    {{#if this.pagination}}
        <div class=" swiper-pagination swiper-container__pagination js__swiper-container__pagination"></div>
    {{/if}}
    <!-- Navigation -->
    {{#if this.button}}
        <div class="swiper-button-next swiper-container__button-next js__swiper-container__btn-next"></div>
        <div class=" swiper-button-prev swiper-container__button-prev js__swiper-container__btn-prev"></div>
    {{/if}}
</div>
