<div class="swiperContainer {{#if this.oneCenteredSlide}}oneCenteredSlide{{/if}}">
    <div class="swiper-container swiper-container__container js__swiper-container__container" data-autoplay="{{#if this.autoplay}}{{this.autoplay}}{{else}}{{/if}}" data-loop="{{#if this.loop}}{{this.loop}}{{else}}{{/if}}" data-effect="{{#if this.effect}}{{this.effect}}{{else}}slider{{/if}}" data-slidesPerView="{{#if this.slidesPerView}}{{this.slidesPerView}}{{else}}3{{/if}}" data-speed="{{#if this.speed}}{{this.speed}}{{else}}600{{/if}}">
        <div class="swiper-wrapper swiper-container__wrapper js__swiper-container__wrapper">
            <div id="c43" class="">
                <h2>Nam iaculis nisi quis posuere gravida, Multiple Media</h2>
                <div class="ce-textpic ce-center ce-above">
                <div class="ce-gallery" data-ce-columns="3" data-ce-images="6">
                <div class="ce-outer">
                <div class="ce-inner">
                    <div class="ce-row">
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="ce-row">
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
            </div>
            <div id="c43" class="">
                <h2>Nam iaculis nisi quis posuere gravida, Multiple Media</h2>
                <div class="ce-textpic ce-center ce-above">
                <div class="ce-gallery" data-ce-columns="3" data-ce-images="6">
                <div class="ce-outer">
                <div class="ce-inner">
                    <div class="ce-row">
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="ce-row">
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
            </div>
            <div id="c43" class="">
                <h2>Nam iaculis nisi quis posuere gravida, Multiple Media</h2>
                <div class="ce-textpic ce-center ce-above">
                <div class="ce-gallery" data-ce-columns="3" data-ce-images="6">
                <div class="ce-outer">
                <div class="ce-inner">
                    <div class="ce-row">
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="ce-row">
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
            </div>
            <div id="c43" class="">
                <h2>Nam iaculis nisi quis posuere gravida, Multiple Media</h2>
                <div class="ce-textpic ce-center ce-above">
                <div class="ce-gallery" data-ce-columns="3" data-ce-images="6">
                <div class="ce-outer">
                <div class="ce-inner">
                    <div class="ce-row">
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="ce-row">
                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>

                        <div class="ce-column">
                            <figure>
                                <a href="images/foto1.jpg" title="" class="lightbox">
                                    <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                                </a>
                                <figcaption>
                                    This is Öresundsbron, the bridge between Sweden and Denmark.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Add Pagination -->
    {{#if this.pagination}}
        <div class=" swiper-pagination swiper-container__pagination js__swiper-container__pagination"></div>
    {{/if}}
    <!-- Navigation -->
    {{#if this.button}}
        <div class="swiper-button-next swiper-container__button-next js__swiper-container__btn-next"></div>
        <div class=" swiper-button-prev swiper-container__button-prev js__swiper-container__btn-prev"></div>
    {{/if}}
</div>
